.gradle
/local.properties
.DS_Store
build
/captures

my-release-key.keystore
google-services.json
play-service-account.json
*.pepk
release.signing
*.aab
*.apk
app/*/release
.kotlin


# IDEA/Android Studio ignores
*.iml
*.ipr
*.iws
.idea/*

# IDEA/Android Studio Ignore exceptions
!.idea/icon.png
!.idea/vcs.xml
!.idea/fileTemplates/
!.idea/inspectionProfiles/
!.idea/scopes/
!.idea/codeStyles
!.idea/runConfigurations
!.idea/encodings.xml
!.idea/copyright/
!.idea/dictionaries
!.idea/compiler.xml